<div class="full-bg-img mask pt-3">
  <div class="profiles-father">
    <span class="title-active">{{'AUTH.PROFILE' | translate}}</span>
    <form [formGroup]="profileForm" class="profiles square scrollbar-cyan" [style.background-color]="'#fff'">
      <div  class="row pt-3 pl-3 pr-3 pb-3">
        <div class="col-sm-4">
          <table class="table">
            <tbody>
            <tr>
              <td width="35%">{{"BUSINESS.About" | translate}}</td>
              <td width="65%"><input type="text" id="about" class="form-control mb-2" placeholder="Enter About" formControlName="about"></td>
            </tr>
            <tr>
              <td width="35%">{{"BUSINESS.LastName" | translate}}</td>
              <td width="65%">  <input type="text" id="lastName" class="form-control mb-2" placeholder="Enter Last Name" formControlName="lastName"></td>
            </tr>
            <tr>
              <td width="35%">{{"BUSINESS.FirstName" | translate}}</td>
              <td width="65%"><input type="text" id="firstName" class="form-control mb-2" placeholder="Enter First Name" formControlName="firstName"></td>
            </tr>
            <tr>
              <td width="35%">{{"BUSINESS.phone" | translate}}</td>
              <td width="65%"><input type="text" id="phone" class="form-control mb-2" placeholder="Enter phone" formControlName="phone"></td>
            </tr>
            <tr>
              <td width="35%">{{ 'AUTH.POSITION' | translate }}</td>
              <td width="65%"><input type="text" id="employer" class="form-control mb-2" placeholder="Enter position" formControlName="employer"></td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-5">
            <table class="table">
              <tbody>
                <tr>
                  <td>{{"BUSINESS.phone" | translate}}Country</td>
                  <td> <select class="form-control mb-2" (change)="updateCountry()" formControlName="country">
                    <option [selected]="country.code === selectedCountry" *ngFor="let country of countriesList" value="{{country.code}}">{{country.name}}</option>
                  </select></td>
                </tr>
                <tr>
                  <td>{{"BUSINESS.region" | translate}}</td>
                  <td><select class="form-control mb-2" (change)="updateRegion()" formControlName="region">
                    <option [selected]="region.region === selectedRegion" *ngFor="let region of regionList" value="{{region.region}}">{{region.region}}</option>
                  </select></td>
                </tr>
                <tr>
                  <td>{{"BUSINESS.city" | translate}}</td>
                  <td><select class="form-control mb-2" formControlName="city">
                    <option [selected]="city.code === selectedCity" *ngFor="let city of citiesList" value="{{city.code}}">{{city.name}}</option>
                  </select></td>
                </tr>
              <tr>
                <td>{{"BUSINESS.address" | translate}} 1</td>
                <td><input class="form-control mb-2"  type="text" formControlName="line1"></td>
              </tr>
                <tr>
                  <td>{{"BUSINESS.address" | translate}} 2</td>
                  <td><input class="form-control"  type="text" formControlName="line2"></td>
                </tr>
              </tbody>
            </table>

        </div>
        <div class="col-lg-3 avatar-area">
          <img #avatar class="avatar mx-auto d-block"/>
          <i class="fas fa-camera mx-auto d-block" (click)="openFile()"></i>
          <input type="file" style="display: none" accept="image/*" #fileInput (change)="previewFile($event)">
        </div>
      </div>
      <div class="pl-3" [style.padding-bottom]="'20px'">
        <button class="button-cancel" id="notif-neigbour">{{ 'LAYOUT.CANCEL' | translate }}</button>
        <button class="button-save" (click)="SaveProfile.show()">{{ 'LAYOUT.SAVE' | translate }}</button>
      </div>
    </form>
    <div class="education">
      <span><i class="fas fa-graduation-cap" style="margin-left: 5px"></i></span><span class="title-active" id="notif-exp-neigbour">{{ 'AUTH.EDUCATION_EXPERIENCES' | translate }}</span>
    </div>
    <form [formGroup]="experiencesForm" [style.background-color]="'#fff'">
      <ng-container *ngFor="let experience of experiencesForm.controls['experiences']['controls']; let i = index" formArrayName="experiences">
        <ng-container [formGroupName]="i">
          <table class="table">
            <tr>
              <td width="46%">
                <p *ngIf="!getExperienceControlValue(i).isEdit">{{getExperienceControlValue(i).business}}</p>
                <input type="{{getExperienceControlValue(i).isEdit ? 'text' : 'hidden'}}"  class="form-control mb-4" placeholder="Business" formControlName="business">
                <input type="hidden" formControlName="id">
                <input type="hidden" formControlName="isEdit">
              </td>
              <td width="46%">
                <p *ngIf="!getExperienceControlValue(i).isEdit">{{getExperienceControlValue(i).role}}</p>
                <input type="{{getExperienceControlValue(i).isEdit ? 'text' : 'hidden'}}"  class="form-control mb-4" placeholder="Roles" formControlName="role">
              </td>
              <td width="8%">
                <div style="float: right">
                  <div *ngIf="!getExperienceControlValue(i).isEdit">
                    <i class="fas fa-pen icon" style="margin: 0 10px" data-toggle="tooltip" title="Edit" (click)="enableExperienceControl(i, true)"></i>
                    <i class="fas fa-times icon-time" data-toggle="tooltip" title="Hủy" (click)="removeExperienceControl(i)"></i>
                  </div>
                  <div *ngIf="getExperienceControlValue(i).isEdit">
                    <i class="fas fa-save icon-save" title="Save" (click)="saveExperienceControl(i)"></i>
                    <i *ngIf="getExperienceControlValue(i).id !== ''" class="fas fa-history icon-history" title="Cancel" (click)="enableExperienceControl(i, false)"></i>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </ng-container>
      </ng-container>
    </form>
    <div class="education">
      <span><i class="fas fa-lightbulb" style="margin-left: 5px"></i></span><span class="title-active" id="notif-spec-neigbour">{{ 'AUTH.SPECIALTIES' | translate }}</span>
    </div>
    <form [formGroup]="specialtiesForm" [style.background-color]="'#fff'">
      <ng-container *ngFor="let specialty of specialtiesForm.controls['specialties']['controls']; let i = index" formArrayName="specialties">
        <ng-container [formGroupName]="i">
          <table class="table">
            <tr>
              <td width="92%">
                <p *ngIf="!getSpecialtyControlValue(i).isEdit">{{getSpecialtyControlValue(i).name}}</p>
                <input type="{{getSpecialtyControlValue(i).isEdit ? 'text' : 'hidden'}}"  class="form-control mb-4" placeholder="Specialty" formControlName="name">
                <input type="hidden" formControlName="id">
                <input type="hidden" formControlName="isEdit">
              </td>
              <td width="8%">
                <div style="float: right">
                  <div *ngIf="!getSpecialtyControlValue(i).isEdit">
                    <i class="fas fa-pen icon" style="margin: 0 10px" data-toggle="tooltip" title="Edit" (click)="enableSpecialtyControl(i, true)"></i>
                    <i class="fas fa-times icon-time" data-toggle="tooltip" title="Hủy" (click)="removeSpecialtyControl(i)"></i>
                  </div>
                  <div *ngIf="getSpecialtyControlValue(i).isEdit">
                    <i class="fas fa-save icon-save" title="Save " (click)="saveSpecialtyControl(i)"></i>
                    <i *ngIf="getSpecialtyControlValue(i).id !== ''" class="fas fa-history icon-history" title="Cancel" (click)="enableSpecialtyControl(i, false)"></i>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </ng-container>
      </ng-container>
    </form>
  </div>
</div>
<div mdbModal #SaveProfile="mdbModal" class="modal fade left" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel2" aria-hidden="true" [config]='{backdrop: true, ignoreBackdropClick: true}'>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-content">
        <p class="confirm">{{ "BUSINESS.Confirm" | translate}}</p>
        <div [class]="'btn-button mt-2 text-center'">
          <button class="button-cancel" (click)="SaveProfile.hide()">{{ "BUSINESS.CANCEL" | translate}}</button>
          <button class="button-save" style="margin-right: 0;" (click)="SaveProfile.hide(); updateUser();">{{ "BUSINESS.Ok" | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>