@import "../../../../../globale_variables";
select {
  display: unset !important;
}
.form-vendors, form-categories {
  display: inline-block;
}
.template-area{
  border: 1px solid #c4c4c4;
  padding: 15px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
}
.TEN_TITLE{
  margin-left: 5px;
  color: #1B75BC;
  font-size: 14px;
}
.rounded-circle {
  width: 40px;
  height: 40px;
}
.btn-button {
  margin: auto;
  margin-bottom: 20px;
}
.modal-body.vendor-list {
  padding: 0 1.1rem 0 1.1rem !important;
}
.align-items-center {
  -ms-flex-align: center!important;
  align-items: center!important;
}
.d-flex {
  display: -ms-flexbox!important;
  display: flex!important;
}
.vendor-list-item{
  height: 50px;
}
.vendor-list-info{
  height: 50px;
  padding-bottom: 10px;
  border-color: #EFEFEF;
  cursor: pointer;
  font-family: 'Roboto Regular';
}
.vendor-list-infol-label1{
  font-size: 14px;
  color: #060606;
}
.vendor-list-infol-label2{
  font-size: 13px;
  color: #434343;
}
.vendor-list-row{
  height: 55px;
  vertical-align: middle;
}
.vendor-list {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;

}
.close{
  opacity: 1 !important;
  position: unset !important;
  right: 0 !important;
  color: #fff !important;
}
.close-label {
  &:hover, &:active {
    color: #c4c4c4;
  }
}
.btn-agree {
  margin-right: 10px;
  margin-top: 20px;
  color: #fff;
  background: #1B75BC;
  border-radius: 4px;
  border: 1px solid #1B75BC;
  width: 70px;
  height: 30px;
  text-align: center;
}

.btn-cancel {
  margin-top: 20px;
  color: #000000;
  background: transparent;
  border-radius: 4px;
  border: 1px solid #D9D9D9;
  width: 70px;
  height: 30px;
  text-align: center;
}
.align-items-center {
  -ms-flex-align: center!important;
  align-items: center!important;
}
.d-flex {
  display: -ms-flexbox!important;
  display: flex!important;
}
.success{
  color:#057987;
}
.inline{
  display: inline;
}
.btn {
  white-space: nowrap;
}
.form-control.complete{
  width: unset;
}
.search{
  height: 40px;
  border:solid 1px #E9E0E0;
  border-radius:5px;
}
.relative{
  position:relative;
}
.fa-search {
  display: inline;
  margin-left: -20px;
}
.col-inline {
  display: inline-block;
}
.create{
  background: $button-color;
  border-radius: 5px;
  padding: 4px 5px 4px 5px;
  border: solid 1px #D9D9D9;
  font-size: 14px;
  color: #fff;
  box-shadow: none;
  margin-top: 0;
  margin-bottom:0;
  height: 40px;
  width: 100px;
  &:hover {
    background:$button-color-hover;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
  }
}
@media only screen and (max-width: 320px) {
  .bd-top {
    padding-top: 35px;
  }
  .breadcrum-title {
    margin-left: 5px;
  }
  .col-inline {
    margin-bottom: 4px;
  }
}
.modal-dialog.new-curriculum {
  top: 15%;
}
//Begin - Confirm settings
.modal-dialog.confirmDialog,.modal-dialog.categoryDialog, .modal-dialog.vendorDialog {
  top: 35% !important;
  max-width: 320px;
}
.modal-dialog.confirmDialogNewTemplate{
  top: 35% !important;
  max-width: 450px;
  margin: auto;
}
.modal-content.confirmDialog .close {
  position: unset !important;
  right: 0 !important;
}
.modal-title{
  font-size: 20px !important;
}
.btn-button {
  margin: auto;
  margin-bottom: 11px;
}
.modal-body.confirmDialog {
  font-weight: normal;
  padding: 0;
}
.confirm {
  text-align: center;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 28px;
  color: #000000;
}
//End - Confirm settings
[type="date"] {
  background: #fff url(../../../../../../assets/img/calendar1.png) 97% 50% no-repeat;
}

[type="date"]::-webkit-inner-spin-button {
  display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.date-field {
  border: 0;
  background-color:$button-color-hover;
  box-shadow: unset;
}

input.date-field {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
  width: 190px;
  margin-top: 8px;
  height: calc(2.25rem + 2px);
}
select {
  display: unset !important;
}
.form-vendors {
  display: inline-block;
}
.template-area{
  border: 1px solid #c4c4c4;
  padding: 15px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
}
.search-bar{
  position: relative;
  background: #F7F7F7;
}
.modal-header {
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  justify-content: space-between;
  background: #1B75BC;
  padding: 1rem;
  height: 50px;
  border-bottom: 1px solid #e9ecef;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
.modal-content .close {
  position: unset !important;
  right: 0 !important;
}
.btn-button {
  margin: auto;
  margin-bottom: 20px;
}
.modal-body {
  padding-bottom: unset;
}
.search{
  width: 100%;
  border:solid 1px #E9E0E0;
  border-radius:5px;
}
.fa-search {
  right: 22px !important;
  position: absolute !important;
  color: black !important;
  top: 16px !important;
  margin: 0 !important;
  width: unset !important;
  height: unset !important;
  border-radius: 0 !important;
  box-shadow: unset !important;
  padding-top: 0 !important;
}
.modal-dialog{
  max-width: 750px;
}
.align-items-center {
  -ms-flex-align: center!important;
  align-items: center!important;
}
.d-flex {
  display: -ms-flexbox!important;
  display: flex!important;
}
.vendor-list-item{
  height: 50px;
}
.vendor-list-info{
  height: 50px;
  padding-bottom: 10px;
  border-color: #EFEFEF;
  cursor: pointer;
  font-family: 'Roboto Regular';
}
.vendor-list-infol-label1{
  font-size: 14px;
  color: #060606;
}
.vendor-list-infol-label2{
  font-size: 13px;
  color: #434343;
}
.vendor-list-row{
  height: 55px;
  vertical-align: middle;
}
.vendor-list {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;

}
.close{
  opacity: 1 !important;
  position: unset !important;
  right: 0 !important;
  color: #fff !important;
}
.close-label {
  &:hover, &:active {
    font-size: 20px !important;
  }
}
.btn-agree {
  margin-right: 10px;
  margin-top: 20px;
  color: #fff;
  background: #1B75BC;
  border-radius: 4px;
  border: 1px solid #1B75BC;
  width: 70px;
  height: 30px;
  text-align: center;
}

.btn-cancel {
  margin-top: 20px;
  color: #000000;
  background: transparent;
  border-radius: 4px;
  border: 1px solid #D9D9D9;
  width: 70px;
  height: 30px;
  text-align: center;
}
.align-items-center {
  -ms-flex-align: center!important;
  align-items: center!important;
}
.d-flex {
  display: -ms-flexbox!important;
  display: flex!important;
}
.success{
  color:#057987;
}
.btn {
  white-space: nowrap;
}
i.fa-plus-circle {
  color: #05ff0c;
  display: inline-block;
  margin: 3px 0px;
  width: 25px;
  height: 25px;
  padding-top: 6px;
  text-align: center;
  &:hover {
    color: #ebebeb;
    cursor: pointer;
    &:active {
      color: yellow;
    }
  }
}
i {
  &.fa-times-circle:hover {
    cursor: pointer;
  }
}
.button-complete {
  cursor: pointer;
  margin: 0.375rem;
  color: white;
  border: 1px solid #1c6129;
  background: #0c9018;
  border-radius: 4px;
  width: 129px;
  height: 38px;
  &:hover {
    -webkit-box-shadow: 0px 1px 2px 1px #0c9018;
    -moz-box-shadow:    0px 1px 2px 1px #0c9018;
    box-shadow:         0px 1px 2px 1px #0c9018;
  }
}
.button-save {
  cursor: pointer;
  margin: 0.375rem;
  color: white;
  border: 1px solid #3BC7EF;
  background: $button-color;
  border-radius: 4px;
  width: 129px;
  height: 38px;
  &:hover {
    -webkit-box-shadow: 0px 1px 2px 1px #26c3cc;
    -moz-box-shadow:    0px 1px 2px 1px #26c3cc;
    box-shadow:         0px 1px 2px 1px #26c3cc;
  }
}
.button-cancel {
  cursor: pointer;
  margin: 0.375rem;
  color: #3BC7EF;
  border: 1px solid #3BC7EF;
  background: #fff;
  border-radius: 4px;
  width: 129px;
  height: 38px;
  &:hover {
    -webkit-box-shadow: 0px 1px 2px 1px #26c3cc;
    -moz-box-shadow:    0px 1px 2px 1px #26c3cc;
    box-shadow:         0px 1px 2px 1px #26c3cc;
  }
}
.button-ban{
  cursor: not-allowed !important;
  margin: 0.375rem;
  color: #3BC7EF;
  border: 1px solid #3BC7EF;
  background: #fff;
  border-radius: 4px;
  width: 129px;
  height: 38px;
  &:hover {
    -webkit-box-shadow: 0px 1px 2px 1px #26c3cc;
    -moz-box-shadow:    0px 1px 2px 1px #26c3cc;
    box-shadow:         0px 1px 2px 1px #26c3cc;
  }
}
.relative{
  position:relative;
}
.fa-search {
  display: inline;
  margin-left: -20px;
}
.col-inline {
  display: inline-block;
}
table {
  margin: auto;
  border-collapse: collapse;
  overflow-x: auto;
  display: block;
  width: fit-content;
  max-width: 100%;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1);
}

td, th {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

th {
  background-color: white;
  position: sticky;
  top: 0;
  text-align: left;
  text-transform: uppercase;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

td {
  white-space: pre-wrap;
  color: rgb(20, 20, 20);
}
table.table th, table.table td {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.create{
  background: $button-color;
  border-radius: 5px;
  padding: 4px 5px 4px 5px;
  border: solid 1px #D9D9D9;
  font-size: 14px;
  color: #fff;
  box-shadow: none;
  margin-top: 0;
  margin-bottom:0;
  height: 40px;
  width: 100px;
  &:hover {
    color: #15ff2a;
    background-color: #3ebaff;
    -webkit-box-shadow: 0px 1px 2px 1px #1685ff;
    -moz-box-shadow:    0px 1px 2px 1px #1685ff;
    box-shadow:         0px 1px 2px 1px #1685ff;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
  }
}

.table-wrapper-scroll-y {
  width: 100%;
  display: block;
  position: static;
  max-height: 600px;
  overflow-y: auto;
}
.style-1::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
  height: 6px;
}
.style-1::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #000000;
}
.style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}
.no-pl{
  padding-left:0;
}
.breadcrum-title {
  color: #C3C3C3;
  font-size: 14px;
  .breadcrum {
    color: #007bff;
    font-size: 14px;
    &:hover{
      color: #0056b3;
    }
  }
}

.pagination {
  display: flex;
  background-color: white;
  padding-bottom: 15px;
}
.pagination a {
  background-color: #fff;
  width: 35px;
  color: black;
  float: right;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  height: 35px;
  text-align: center;
  border-radius: 50%;
  margin: 0 1px 0 1px;
  &:hover {
    background-color: #c4c4c4;
  }
}

.pagination a.active {
  background-color: $button-color;
  color: white;
  border: 1px solid $button-color;
}
.number {
  padding-top: 5px;
}
.pd-icon {
  padding-top: 9px;
}
.with-control {
  width: 108px;
}
.form-width {
  display: flex;
}
@media only screen and (max-width: 600px) {
  .pagination {
    padding-top: 5px;
  }
  .pd-icon {
    padding-top: 6px;
  }
  .number {
    padding-top: 3px;
  }
  .pagination a {
    background-color: #fff;
    width: 30px;
    color: black;
    float: right;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    margin: 0 1px 0 1px;
  }
  .fa-list {
    padding-left: 15px;
  }
  .col-1 {
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }
  .col-6 {
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
  }
  .search{
    width: 80%;
  }
  .bd-top {
    padding-top: 25px;
  }
  .breadcrum-title {
    margin-left: 5px;
  }
  .col-inline {
    margin-bottom: 4px;
  }
  .form-pd {
    padding-top: 5px;
  }
  table {
    margin: auto;
    overflow-x: auto !important;
    display: block;
    width: fit-content;
    max-width: 100%;
  }

  th {
    text-align: left;
    text-transform: uppercase;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  td {
    white-space: pre-wrap;
    border-bottom: none;
    color: rgb(20, 20, 20);
  }

  td:first-of-type, th:first-of-type {
    border-left: none;
  }

  td:last-of-type, th:last-of-type {
    border-right: none;
  }
}
@media only screen and (max-width: 320px) {
  .bd-top {
    padding-top: 35px;
  }
  .breadcrum-title {
    margin-left: 5px;
  }
  .col-inline {
    margin-bottom: 4px;
  }
}
.modal-step-title.active{
  color: white !important;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: white;
  background-color: #1B75BC;
  border-color: #dee2e6 #dee2e6 #fff;
}
.nav-link{
  color: white !important;
}
.nav-tabs .nav-link.active{
  color: white;
}
.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  background-color: #02505D;
  margin: 1px;
}

.cv-sieries {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 500px;
  &::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
    height: 6px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #000000;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
  }

}
.show-more-records{
  cursor: pointer;
  color: #3c5398;
  margin: 0 10px 0 0;
  height: 30px;
  width: 30px;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  &:hover{
    color: #5677da;
  }
}
.cv-list{
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 500px;
}
.loading{
  color: $button-color;
  margin-top: -50px;
}
.my-select{
  width: 65px;
  padding: 0 5px 0 5px;
  margin: 0 5px 0 5px;
}
.my-select-area{
  float: right;
  display: flex;
}
.invalid-feedback {
  display: block !important;
}
.my-table-footer{
  padding-top: 10px;
  display: block;
}
// percentage
.progress-area{
  float: right;
  margin-bottom: 10px;
  margin-left: 10px;
  width: 100px;
  color: white;
  font-size: 13px;
  font-weight: bold;
}
.progress-my
{
  display:flex;
  position:relative;
  width:100%;
  border: 1px solid #ddd;
  padding: 1px;
  border-radius: 5px;
  color: black;
  background-color: #c4c4c478;
}
.bar-my
{
  background-color: #CEF2AF;
  width:0%;
  height:21px;
  border-radius: 5px;
}
.percent-my
{
  position:absolute;
  display:inline-block;
  left:35%;
  top: 13%;
}
#template{
  width: 300px !important;
}
.nav-item{
  cursor: pointer;
  width: 20%;
  text-align: center;
}
ul{
  width: 100%;
}
.nav-tabs {
  border-bottom: 0;
}
.tab-content {
  padding-top: 1rem !important;
}
.checkbox{
  width: 20px;
  height: 20px;
  position: relative;
  margin-left: 10px;
  margin-right: 5px;
  opacity: 1;
  pointer-events: inherit;
  top: 5px;
}
.box-check{
  padding:12px;
  border-radius:8px;
  border: 1px solid #c4c4c4;
}
.type-select{
  display: block !important;
  width: 250px;
}
i.fas {
  display: inline-block;
  width: 25px;
  height: 25px;
  text-align: center;
  &.fa-display{
    display: none;
  }

}
.relative{
  position:relative;
}
i{
  &.fas{
    display: inline;
  }
  &.fa-plus {
    background-color: #fff;
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0px 0px 2px #888;
    width: 22px;
    height: 22px;
    padding-top: 3px;
    text-align: center;
    border: solid 1px #3BC7EF;
    color: $button-color;
    margin-right: 3px;
    cursor: pointer;
  }
}
.item-create-group{
  position: unset !important;
  left: unset !important;
  color: #01ff4c;
  background-color: white;
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0px 0px 5px #01ff4c;
  margin: 3px 0px;
  width: 25px;
  height: 25px;
  padding-top: 6px;
  text-align: center;
  &:hover {
    color: white;
    background-color: #01ff4c;
    -webkit-filter:	drop-shadow(0 1px 10px rgba(1, 255, 76, 0.8));
    -moz-filter: 	drop-shadow(0 1px 10px rgba(1, 255, 76, 0.8));
    -ms-filter: 		drop-shadow(0 1px 10px rgba(1, 255, 76, 0.8));
    -o-filter: 		drop-shadow(0 1px 10px rgba(1, 255, 76, 0.8));
    filter: 			drop-shadow(0 1px 10px rgba(1, 255, 76, 0.8));
  }
}
i.item-create {
  color: #01ff4c;
  background-color: white;
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0px 0px 5px #01ff4c;
  margin: 3px 0px;
  width: 25px;
  height: 25px;
  padding-top: 6px;
  text-align: center;
  &:hover {
    color: white;
    background-color: #01ff4c;
    -webkit-filter:	drop-shadow(0 1px 10px rgba(1, 255, 76, 0.8));
    -moz-filter: 	drop-shadow(0 1px 10px rgba(1, 255, 76, 0.8));
    -ms-filter: 		drop-shadow(0 1px 10px rgba(1, 255, 76, 0.8));
    -o-filter: 		drop-shadow(0 1px 10px rgba(1, 255, 76, 0.8));
    filter: 			drop-shadow(0 1px 10px rgba(1, 255, 76, 0.8));
  }
}
i.item-edit {
  display: inline-block;
  border-radius: 50%;
  color: #EEDD82;
  box-shadow: 0px 0px 5px #04AEDA;
  width: 25px;
  height: 25px;
  padding-top: 6px;
  text-align: center;
  &:hover {
    color: white;
    background-color: #04AEDA;
    -webkit-filter:	drop-shadow(0 1px 10px rgba(4, 174, 218, 0.8));
    -moz-filter: 	drop-shadow(0 1px 10px rgba(4, 174, 218, 0.8));
    -ms-filter: 		drop-shadow(0 1px 10px rgba(4, 174, 218, 0.8));
    -o-filter: 		drop-shadow(0 1px 10px rgba(4, 174, 218, 0.8));
    filter: 			drop-shadow(0 1px 10px rgba(4, 174, 218, 0.8));
  }
  &.fa-pen-display{
    display: none;
  }
}
i.item-delete {
  display: inline-block;
  border-radius: 50%;
  color: red;
  box-shadow: 0px 0px 5px #ff0000;
  margin: 3px 10px;
  width: 25px;
  height: 25px;
  padding-top: 6px;
  text-align: center;
  &:hover {
    color: white;
    background-color: #ff0000;
    -webkit-filter:	drop-shadow(0 1px 10px rgba(255, 0, 0, 0.8));
    -moz-filter: 	drop-shadow(0 1px 10px rgba(255, 0, 0, 0.8));
    -ms-filter: 		drop-shadow(0 1px 10px rgba(255, 0, 0, 0.8));
    -o-filter: 		drop-shadow(0 1px 10px rgba(255, 0, 0, 0.8));
    filter: 			drop-shadow(0 1px 10px rgba(255, 0, 69, 0.8));
  }
  &.fa-trash-display{
    display:none;
  }
}
.my-hover{
  &:hover{
    background: $table-row-hover!important;
  }
}
.scrollbar-cyan::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-cyan::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-cyan::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #c1c1c16b; }
.info-line{
  line-height: 30px;
  &:hover{
    span{
      color:#ffffff!important;
    }
    td{
      color:#ffffff!important;
    }
    p{
      color:#ffffff!important;
    }
    background: $button-color!important;
    .fa-display{
      display: inline-block!important;
      &:hover{
        cursor: pointer;
      }
    }
    .fa-trash-display{
      display: inline-block!important;
      &:hover{
        cursor: pointer;
      }
    }
    .fa-pen-display{
      display: inline-block!important;
      &:hover{
        cursor: pointer;
      }
    }
  }
}
//Begin - Confirm settings
.modal-dialog.confirmDialog,.modal-dialog.categoryDialog, .modal-dialog.vendorDialog, .modal-dialog.itemInfoDialog {
  top: 35% !important;
  max-width: 370px;
  margin: auto;
}
.modal-dialog.unitInfoDialog {
  max-width: 600px;
  margin: auto;
}
:host /deep/{
  .modal-dialog.terminateDialog {
    top: 20%;
    min-width: 1024px;
    width: fit-content;
    height: 650px !important;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
.scroll-button {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.scroll {
  background: #737373;
  opacity: 0.7;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
}
.info_message {
  background: antiquewhite;
}
.tab-content {
  padding: 1rem 1rem 0 1rem !important;
}
.fa-edit {
  cursor: pointer;
  color: $button-color;
  &:hover {
    color: $button-color-hover;
  }
}
