<div class="row pd-top">
    <div class="col-sm-4 my-auto breadcrum-title">
        <a class="breadcrum mr-1" routerLink="../">{{"Accounting.Accounting" | translate}}</a> / {{"Accounting.Journal" | translate}}
    </div>
    <div class="col-sm-8">
        <div class="searchbar text-right">
            <div class="col-inline">
                <button (click)="doAction()" class="form-control btn btn-export"><i class="fas fa-download mr-1"></i> {{"Accounting.Export" | translate}}</button>
            </div>
            <!--<div class="col-inline"><input [(ngModel)]="searchText" (keydown)="checkSearch($event)"  placeholder='{{"MESSAGE.NameList.Enter_field" | translate : {field : ("Accounting.TRANS_CODE" | translate) } }}' class="search-bar" type="text"/></div>-->
        </div>
    </div>
</div>
<div style="background: #FFFFFF" class="text-center">
    <div class="pt-2 pb-2 text-white bg-title">
        <div class="text-center">
            <div class="feature-info" style="display: inline-flex">
                <p class="my-auto">
                    {{"Accounting.From" | translate}}
                </p>
                <input
                        data-date="dd MMMM yyyy"
                        data-date-format="DD MMMM YYYY"
                        (change)="filterOpenedDays('date_from', $event)"
                        class="text-white date-field"
                        type="date"
                        [max]="getToDate()"
                        onkeydown="return false"
                        name="date_from" id="date_from">
            </div>
            <div class="feature-info" style="display: inline-flex">
                <p class="my-auto">
                    {{"Accounting.To" | translate}}
                </p>
                <input data-date="dd MMMM yyyy" data-date-format="DD MMMM YYYY" [min]="getFromDate()" (change)="filterOpenedDays('date_to', $event)" class="date-field" type="date" name="date_to" id="date_to" onkeydown="return false">
            </div>
        </div>
    </div>
</div>
<table class="table table-bordered table-striped table-wrapper-scroll-y" id="style-1">
    <thead>
    <tr>
        <th width="15%"><span>{{"Accounting.TRANS_CODE" | translate}}</span></th>
        <th width="20%"><span>{{"Accounting.DATE/TIME" | translate}}</span>
            <div style="float: right">
                <i *ngIf="sortOrder === 1" class="fas fa-arrow-down pr-2" (click)="sortOrder = 2; sortBy = 1; reloadRecords()"></i>
                <i *ngIf="sortOrder === 2" class="fas fa-arrow-up pr-2" (click)="sortOrder = 0; sortBy = 0; reloadRecords()"></i>
                <i *ngIf="sortOrder === 0" class="fas fa-arrows-alt-v pr-2" (click)="sortOrder = 1; sortBy = 1; reloadRecords()"></i>
            </div>
        </th>
        <th width="25%"><span>{{"Accounting.DESCRIPTION" | translate}}</span></th>
        <th width="15%" class="text-right"><span>{{"Accounting.DEBIT" | translate}}</span></th>
        <th width="25%" class="text-right"><span>{{"Accounting.CREDIT" | translate}}</span></th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let item of items">
        <tr class="info-line">
            <td>{{item.transCode}}</td>
            <td>
                {{("DATEFORMAT.DayString" | translate: {'st': getCreateDateInfo(item?.onDate).st, 'day': getCreateDateInfo(item?.onDate).day}) + '/' +
                ('DATEFORMAT.' + getCreateDateInfo(item?.onDate).month | translate) + '/' +
                ("DATEFORMAT.YearString" | translate: {'year': getCreateDateInfo(item?.onDate).year})}}
            </td>
            <td>{{item.description}}</td>
            <td class="text-right">{{item.debit | number}}</td>
            <td class="text-right">{{item.credit | number}}</td>
        </tr>
    </ng-container>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="3" class="footer-title pt-2">{{"Accounting.Grand-Total" | translate}}</td>
        <td class="footer-title pt-2">{{grandTotalDebit | number}}</td>
        <td class="footer-title pt-2">{{grandTotalCredit | number}}</td>
    </tr>
    </tfoot>
</table>
<ng-container>
    <div class="my-table-footer">
        <div style="float: left">
            <span>{{('MESSAGE.NameList.CurrentTotalItems' | translate) + ':'}}</span>
            <span style="margin-left: 5px; font-weight: bold;">{{items.length}}</span></div>
        <div class="my-select-area">
            <div class="d-flex">
                <span class="my-auto">{{'MESSAGE.NameList.NumRowsPerRequest' | translate}}</span>
                <select [(ngModel)]="rowsPerPage" class="form-control my-select my-auto" (change)="reloadRecords()">
                    <option *ngFor="let size of pageSizes" [value]="size">{{size}}</option>
                </select>
            </div>
            <div class="my-auto" style="text-align: right" *ngIf="enableMore">
                    <span class="show-more-records" (click)="loadMoreRecords()">
                        {{'MESSAGE.More' | translate}}
                    </span>
            </div>
        </div>
    </div>
</ng-container>
<!--
Export Madal
-->
<div mdbModal #exportModal="mdbModal" class="modal fade left" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel2" aria-hidden="true" [config]='{backdrop: true, ignoreBackdropClick: true}'>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            (click)="exportModal.hide()">
                        <span aria-hidden="true" class="close-label">X</span>
                    </button>
                </div>
                <div class="modal-body mx-3 text-center">
                    <h4 class="modal-title w-100">{{"Accounting.Export_data" | translate}}</h4>
                    <div class="text-center mt-3">
                        <button class="btn btn-excel" type="button" (click)="exportModal.hide(); exportAsXLSX();">{{"Accounting.Excel" | translate}}</button>
                        <button class="btn btn-pdf" type="button" (click)="exportModal.hide(); exportAsPDF();">{{"Accounting.PDF" | translate}}</button>
                    </div>
                    <br/>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-spinner
        bdColor="transparent"
        color="#1E8EEB"
        type="line-spin-clockwise-fade"
        size="medium">
    <p class="loading" [innerHTML]="'MESSAGE.NameList.Loading' | translate"></p>
</ngx-spinner>
