<div class="text-back">
    <div class="container">
        <div class="row" *ngIf="step === 1">
            <form [formGroup]="form1" class="pl-3 pr-3 background-forgot">
                <p class="h4 mb-4 font-forgot">{{ 'AUTH.FORGOT_YOUR_PASSWORD' | translate }}</p>
                <label for="email">{{ 'AUTH.RECOVER_PASSWORD_MESSAGE' | translate }}</label>
                <input type="email"
                       id="email"
                       [ngClass]="{ 'is-invalid': form1.controls.email.errors }"
                       class="form-control mb-4" placeholder="{{ 'AUTH.ENTER_EMAIL_TO_RECOVER_PASSWORD' | translate }}" formControlName="email">
                <div *ngIf="form1.controls.email.errors" class="invalid-feedback">
                    <div *ngIf="form1.controls.email.errors.required">{{'MESSAGE.EMAIL_PLEASE_FILL' | translate}}</div>
                    <div *ngIf="form1.controls.email.errors.pattern">{{'MESSAGE.EMAIL_INVALID' | translate}}</div>
                </div>
                <div class="justify-content-around">
                    <div class="text-center">
                        <!-- Sign in button -->
                        <button class="button-info" (click)="nextStep()">{{ 'AUTH.SEND_CODE' | translate }}</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row" *ngIf="step === 2">
            <div class="pl-3 pr-3 background-forgot">
                <form [formGroup]="form2" class="mb-4">
                    <div>{{"AUTH.NEW_PASSWORD" | translate}}</div>
                    <div [style.position]="'relative'">
                        <input formControlName="password"
                               class="form-control info-title"
                               [ngClass]="{ 'is-invalid': form2.controls.password.errors }"
                               type="{{(showNewPass) ? 'text' : 'password'}}"
                               placeholder="{{'AUTH.ENTER_NEW_PASSWORD' | translate}}"/>
                        <div *ngIf="form2.controls.password.errors" class="invalid-feedback">
                            <div *ngIf="form2.controls.password.errors.required">{{'MESSAGE.PASSWORD_PLEASE_FILL' | translate}}</div>
                            <div *ngIf="form2.controls.password.errors.minlength">{{'MESSAGE.PASSWORD_INVALID' | translate}}</div>
                        </div>
                        <i class="fas fa-eye eyes" *ngIf="!showNewPass" (click)="showNewPass = !showNewPass"></i>
                        <i class="fas fa-eye-slash eye-slashs" *ngIf="showNewPass" (click)="showNewPass = !showNewPass"></i>
                    </div>
                </form>
                <div class="text-center">
                    <button class="button-info mr-2" (click)="changePwd()">{{ 'LAYOUT.OK' | translate }}</button>
                    <button class="button-info" (click)="prevStep()">{{ 'AUTH.RESEND' | translate }}</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div mdbModal #errorModal="mdbModal" class="modal fade left" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel2" aria-hidden="true" [config]='{backdrop: true, ignoreBackdropClick: true}'>
    <div class="modal-dialog confirmDialog" role="document">
        <div class="modal-content confirmDialog" *ngIf="error">
            <div class="diaglog-title-warning text-center">
                <h4>{{ "MESSAGE.WARNING" | translate}}</h4>
            </div>
            <div class="modal-body confirmDialog ml-3 mr-3 mt-2 text-center" [innerHTML]='"MESSAGE.ACTION_FAILED_FORGOT_PASS_REASON" | translate'>
            </div>
            <div [class]="'btn-button mt-2'">
                <button class="button-cancel" style="margin-right: 0;" (click)="errorModal.hide()">{{ "LAYOUT.CLOSE" | translate}}</button>
            </div>
        </div>
    </div>
</div>

<div mdbModal #forgotModal="mdbModal" class="modal fade left" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel2" aria-hidden="true" [config]='{backdrop: true, ignoreBackdropClick: true}'>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="text-center mt-4">
                {{ "MESSAGE.NameList.Please_check_your_email" | translate}}
            </div>
            <div [class]="'btn-button mt-2'">
                <button class="button-cancel" style="margin-right: 0;"
                        (click)="forgotModal.hide()">{{ "LAYOUT.CLOSE" | translate}}</button>
            </div>
        </div>
    </div>
</div>
