<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3" style="font-family: 'Roboto'">
      <p class="title-heading">
        {{"AUTH.CHANGE_PASSWORD" | translate}}
      </p>
      <div class="info-title">{{"AUTH.CURRENT_PASSWORD" | translate}}</div>
      <div [style.position]="'relative'">
        <input [(ngModel)]="oldPwd" class="form-control info-title" type="{{(showPass) ? 'text' : 'password'}}" name="" placeholder="{{'AUTH.ENTER_CURRENT_PASSWORD' | translate}}"/>
        <i class="fas fa-eye eye" *ngIf="!showPass" (click)="showPass = !showPass"></i>
        <i class="fas fa-eye-slash eye-slash" *ngIf="showPass" (click)="showPass = !showPass"></i>
      </div>
      <div class="mt-3">{{"AUTH.NEW_PASSWORD" | translate}}</div>
      <div [style.position]="'relative'">
        <input [(ngModel)]="newPwd" class="form-control info-title" type="{{(showNewPass) ? 'text' : 'password'}}" name="" placeholder="{{'AUTH.ENTER_NEW_PASSWORD' | translate}}"/>
        <i class="fas fa-eye eyes" *ngIf="!showNewPass" (click)="showNewPass = !showNewPass"></i>
        <i class="fas fa-eye-slash eye-slashs" *ngIf="showNewPass" (click)="showNewPass = !showNewPass"></i>
      </div>
      <div class="mt-3">{{"AUTH.CONFIRM_NEW_PASSWORD" | translate}}</div>
      <div [style.position]="'relative'">
        <input [(ngModel)]="confirmNewPwd" class="form-control info-title" type="{{(showConfirmNewPass) ? 'text' : 'password'}}" name="" placeholder="{{'AUTH.ENTER_NEW_PASSWORD' | translate}}"/>
        <i class="fas fa-eye eyes" *ngIf="!showConfirmNewPass" (click)="showConfirmNewPass = !showConfirmNewPass"></i>
        <i class="fas fa-eye-slash eye-slashs" *ngIf="showConfirmNewPass" (click)="showConfirmNewPass = !showConfirmNewPass"></i>
      </div>
      <div class="text-success mt-2 mb-2" *ngIf="success">{{"MESSAGE.ChangePasswordSuccess" | translate}}</div>
      <div class="text-success mt-2 mb-2" *ngIf="success">{{"MESSAGE.ChangePasswordSuccess" | translate}}</div>
      <div class="mt-3">
        <button class="btn btn-info" type="button" (click)="onSubmit()">{{"LAYOUT.CHANGE" | translate}}</button>
      </div>
    </div>
  </div>
</div>
<div mdbModal #errorModal="mdbModal" class="modal fade left" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel2" aria-hidden="true" [config]='{backdrop: true, ignoreBackdropClick: true}'>
  <div class="modal-dialog confirmDialog" role="document">
    <div class="modal-content confirmDialog" *ngIf="error">
      <div class="diaglog-title-warning text-center">
        <h4>{{ "MESSAGE.WARNING" | translate}}</h4>
      </div>
      <div class="modal-body confirmDialog ml-3 mr-3 mt-2 text-center" [innerHTML]='"MESSAGE.ACTION_FAILED_CHANGE_PASS_REASON" | translate : {"error": error.text}'>
      </div>
      <div [class]="'btn-button mt-2'">
        <button class="button-cancel" style="margin-right: 0;" (click)="errorModal.hide()">{{ "LAYOUT.CLOSE" | translate}}</button>
      </div>
    </div>
  </div>
</div>
<div mdbModal #passwordNotMatchedModal="mdbModal" class="modal fade left" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel2" aria-hidden="true" [config]='{backdrop: true, ignoreBackdropClick: true}'>
  <div class="modal-dialog confirmDialog" role="document">
    <div class="modal-content confirmDialog" *ngIf="error">
      <div class="diaglog-title-warning text-center">
        <h4>{{ "MESSAGE.WARNING" | translate}}</h4>
      </div>
      <div class="modal-body confirmDialog ml-3 mr-3 mt-2 text-center" [innerHTML]='error.text'>
      </div>
      <div [class]="'btn-button mt-2'">
        <button class="button-cancel" style="margin-right: 0;" (click)="passwordNotMatchedModal.hide()">{{ "LAYOUT.CLOSE" | translate}}</button>
      </div>
    </div>
  </div>
</div>
<div mdbModal #confirmModal="mdbModal" class="modal fade left" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel2" aria-hidden="true" [config]='{backdrop: true, ignoreBackdropClick: true}'>
  <div class="modal-dialog confirmDialog" role="document">
    <div class="modal-content confirmDialog">
      <div class="diaglog-title-confirm text-center">
        <h4>{{ "MESSAGE.CONFIRM" | translate}}</h4>
      </div>
      <div class="modal-body confirmDialog ml-3 mr-3 mt-2 text-center" [innerHTML]='"MESSAGE.ConfirmChangePassword" | translate'>
      </div>
      <div [class]="'btn-button mt-2'">
        <button class="button-save" style="margin-right: 0;" (click)="changePasswordNow()">{{ "LAYOUT.YES" | translate}}</button>
        <button class="button-cancel" style="margin-right: 0;" (click)="confirmModal.hide()">{{ "LAYOUT.NO" | translate}}</button>
      </div>
    </div>
  </div>
</div>
