@import "../../../globale_variables";
.pd-right-5{
  padding-right:5px;
}
.no-pd-left{
  padding-left:0;
}
.pd-5{
  padding-left:5px;
  padding-right:5px;
}
.pd-left-5{
  padding-left:5px;
}
.title-heading{
  font-weight: bold;
  font-size:20px;
}
.info-title{
  font-size:16px;
}
.text-input{
width: 400px;
}
.container {
  padding-top: 85px;
}
.btn-info{
  background: #1B75BC !important;
  border-radius: 4px;
}
.btn {
  height: 40px;
  padding: 0.5rem 2.14rem;
  margin: 0;
  font-size: 16px;
  text-transform: unset;
}
.btn-gray{
  color: #000000;
  margin-left: 5px;
  background: #E1E5E8 !important;
  border-radius: 4px;
}
.eye, .eye-slash {
  cursor: pointer;
  opacity: 0.4;
  position: absolute;
  top: 12px;
  right: 8px;
}
.eyes, .eye-slashs {
  cursor: pointer;
  opacity: 0.6;
  position: absolute;
  top: 12px;
  right: 8px;
}
@media only screen and (max-width: 600px) {
  .text-input{
    width: 100%;
  }
  .container {
    padding-top: 15px;
  }
}
//Begin - Confirm settings
.modal-dialog.confirmDialog,.modal-dialog.categoryDialog, .modal-dialog.vendorDialog {
  top: 35% !important;
  max-width: 320px;
  margin: auto;
}
.modal-content.confirmDialog .close {
  position: unset !important;
  right: 0 !important;
}
.modal-title{
  font-size: 20px !important;
}
.btn-button {
  margin: auto;
  margin-bottom: 11px;
}
.modal-body.confirmDialog {
  font-weight: normal;
  padding: 0;
}
.diaglog-title-warning{
  padding-top: 9px !important;
  padding-bottom: unset !important;
  background-color: #ff7900;
  color: black;
  font-size: 18px;
  font-weight: bold;
}
.diaglog-title-confirm{
  padding-top: 9px !important;
  padding-bottom: unset !important;
  background-color: $button-color;
  color: white;
  font-size: 18px;
  font-weight: bold;
}
.button-save {
  cursor: pointer;
  margin: 0.375rem;
  color: white;
  border: 1px solid #3BC7EF;
  background:$button-color;
  border-radius: 4px;
  width: 129px;
  height: 38px;
  &:hover {
    -webkit-box-shadow: 0px 1px 2px 1px #26c3cc;
    -moz-box-shadow:    0px 1px 2px 1px #26c3cc;
    box-shadow:         0px 1px 2px 1px #26c3cc;
  }
}
.button-cancel {
  cursor: pointer;
  margin: 0.375rem;
  color: #3BC7EF;
  border: 1px solid #3BC7EF;
  background: #fff;
  border-radius: 4px;
  width: 129px;
  height: 38px;
  &:hover {
    -webkit-box-shadow: 0px 1px 2px 1px #26c3cc;
    -moz-box-shadow:    0px 1px 2px 1px #26c3cc;
    box-shadow:         0px 1px 2px 1px #26c3cc;
  }
}