@import "../../../../globale_variables";
.breadcrum-title {
  color: #C3C3C3;
  font-size: 14px;

  .breadcrum {
    cursor: pointer;
    color: $button-color;
    font-size: 14px;
    &:hover{
      color: #06447a;
    }
  }
}
.fa-times-circle {
  cursor: pointer;
  top: -6px;
  right: -7px;
  position: absolute;
  box-shadow:none;
  &:before{
    color: #CE8686;
  }
}
.fa-plus {
  border: 1px solid #c4c4c4;
  border-radius: 50%;
  padding: 5px;
  margin-top: 6px;
  margin-left: 5px;
  &:hover {
    border: 1px solid #727272;
    background-color: #00aa00;
  }
}
.education {
  background-color: #1E8EEB;
  padding:10px;
}
.edit {
  top: 10px;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #c4c4c4;
  width: 80px;
  height: 32px;
  right: 30px;
  &:hover {
    background: silver;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-filter:	drop-shadow(0 1px 10px rgba(196, 196, 196, 0.8));
    -moz-filter: 	drop-shadow(0 1px 10px rgba(196, 196, 196, 0.8));
    -ms-filter: 		drop-shadow(0 1px 10px rgba(196, 196, 196, 0.8));
    -o-filter: 		drop-shadow(0 1px 10px rgba(196, 196, 196, 0.8));
    filter: 			drop-shadow(0 1px 10px rgba(196, 196, 196, 0.8));
    box-shadow: 2px 2px 2px #c4c4c4;
  }
}
.user-plus {
  cursor: pointer;
  color: #fff;
  top: 3px;
  background:  #1E8EEB;
  border-radius: 8px;
  border: 1px solid  #1E8EEB;
  width: 100px;
  height: 36px;
  &:hover {
    background: #13c9ef;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-filter:	drop-shadow(0 1px 10px rgba(57, 211, 239, 0.8));
    -moz-filter: 	drop-shadow(0 1px 10px rgba(57, 211, 239, 0.8));
    -ms-filter: 		drop-shadow(0 1px 10px rgba(57, 211, 239, 0.8));
    -o-filter: 		drop-shadow(0 1px 10px rgba(57, 211, 239, 0.8));
    filter: 			drop-shadow(0 1px 10px rgba(57, 211, 239, 0.8));
    box-shadow: 2px 2px 2px #39d3ef;
  }
}
.pagination{
  display: block;
  text-align: right;
  padding-bottom: 15px;
  padding-top: 15px;
}
.pagination a {
  color: black;
  text-decoration: none;
  border: 1px solid #ddd; /* Gray */
}
.no-pl{
  padding-left:0;
}
.icon {
  opacity: 0.5;
  position:relative;
  text-align:center;
  width:0px;
  height:0px;
  padding:18px;
  border-top-right-radius: 	20px;
  border-top-left-radius: 	20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 	20px;
  -moz-border-radius: 		30px 30px 30px 30px;
  -webkit-border-radius: 		30px 30px 30px 30px;
  -khtml-border-radius: 		30px 30px 30px 30px;
  color:#FFFFFF;
}
.icon i {
  font-size: 18px;
  position: absolute;
  left: 10px;
  top: 9px;
}
.icon.social {
  display: -webkit-inline-box;
  margin:0 5px 0 0;
  cursor:pointer;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
}
.icon.angle-double-left {
  margin:0 5px 0 0;
  cursor:pointer;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
}
.icon.social:hover {
  opacity: unset;
  border: 1px solid #1E8EEB;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-filter:	drop-shadow(0 1px 10px rgba(59, 199, 239, 0.8));
  -moz-filter: 	drop-shadow(0 1px 10px rgba(59, 199, 239, 0.8));
  -ms-filter: 		drop-shadow(0 1px 10px rgba(59, 199, 239, 0.8));
  -o-filter: 		drop-shadow(0 1px 10px rgba(59, 199, 239, 0.8));
  filter: 			drop-shadow(0 1px 10px rgba(59, 199, 239, 0.8));
}
.iconB {
  position:relative;
  text-align:center;
  width:0px;
  height:0px;
  padding:18px;
  border-top-right-radius: 	20px;
  border-top-left-radius: 	20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 	20px;
  -moz-border-radius: 		30px 30px 30px 30px;
  -webkit-border-radius: 		30px 30px 30px 30px;
  -khtml-border-radius: 		30px 30px 30px 30px;
  color:#FFFFFF;
  &.active {
    .number {
      color: #ffffff;
    }
    background-color: #1E8EEB;
  }
}
.iconB i {
  font-size:18px;
  position:absolute;
  left:11px;
  top:11px;
}
.iconB.social {
  display: -webkit-inline-box;
  margin:0 5px 0 0;
  cursor:pointer;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
}
.iconB.angle-center {
  margin:0 5px 0 0;
  cursor:pointer;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
}
.iconB.social:hover {
  border: 1px solid #1E8EEB;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-filter:	drop-shadow(0 1px 10px rgba(59, 199, 239, 0.8));
  -moz-filter: 	drop-shadow(0 1px 10px rgba(59, 199, 239, 0.8));
  -ms-filter: 		drop-shadow(0 1px 10px rgba(59, 199, 239, 0.8));
  -o-filter: 		drop-shadow(0 1px 10px rgba(59, 199, 239, 0.8));
  filter: 			drop-shadow(0 1px 10px rgba(59, 199, 239, 0.8));
}
.breadcrums-title {
  color: #C3C3C3;
  font-size: 14px;

  .breadcrums {
    color: #C3C3C3;
    font-size: 14px;
  }
}
.number {
  color: #888888;
  margin-top: -11px;
  margin-left: -5px;
  font-size: 16px;
}
.iconA {
  opacity: 0.5;
  position:relative;
  text-align:center;
  width:0px;
  height:0px;
  padding:18px;
  border-top-right-radius: 	20px;
  border-top-left-radius: 	20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 	20px;
  -moz-border-radius: 		30px 30px 30px 30px;
  -webkit-border-radius: 		30px 30px 30px 30px;
  -khtml-border-radius: 		30px 30px 30px 30px;
  color:#FFFFFF;
  &.active {
    .number {
      color: #ffffff;
    }
    background-color: #1E8EEB;
  }
}
.iconA i {
  font-size:18px;
  position:absolute;
  left:15px;
  top:11px;
}
.iconA.social {
  margin:0 5px 0 0;
  cursor:pointer;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
}
.iconA.angle-left {
  display: -webkit-inline-box;
  margin:0 5px 0 0;
  cursor:pointer;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
}
.iconA.angle-right {
  display: -webkit-inline-box;
  margin:0 5px 0 0;
  cursor:pointer;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
}
.iconA.social:hover {
  opacity: unset;
  border: 1px solid #1E8EEB;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-filter:	drop-shadow(0 1px 10px rgba(59, 199, 239, 0.8));
  -moz-filter: 	drop-shadow(0 1px 10px rgba(59, 199, 239, 0.8));
  -ms-filter: 		drop-shadow(0 1px 10px rgba(59, 199, 239, 0.8));
  -o-filter: 		drop-shadow(0 1px 10px rgba(59, 199, 239, 0.8));
  filter: 			drop-shadow(0 1px 10px rgba(59, 199, 239, 0.8));
}
.img-user {
  border-radius: 50%;
  vertical-align:middle;
  width: 60px;
  height: 60px;

}
.button-save {
  cursor: pointer;
  margin: 0.375rem;
  color: white;
  border: 1px solid #1E8EEB;
  background: #1E8EEB;
  border-radius: 4px;
  width: 129px;
  height: 38px;
  &:hover {
    -webkit-box-shadow: 0px 1px 2px 1px #26c3cc;
    -moz-box-shadow:    0px 1px 2px 1px #26c3cc;
    box-shadow:         0px 1px 2px 1px #26c3cc;
  }
}
.button-cancel {
  cursor: pointer;
  margin: 0.375rem;
  color: #1E8EEB;
  border: 1px solid #1E8EEB;
  background: #fff;
  border-radius: 4px;
  width: 129px;
  height: 38px;
  &:hover {
    -webkit-box-shadow: 0px 1px 2px 1px #26c3cc;
    -moz-box-shadow:    0px 1px 2px 1px #26c3cc;
    box-shadow:         0px 1px 2px 1px #26c3cc;
  }
}
.col-inline {
  display: inline-block;
}
select {
  display: block !important;
}
p {
  font-weight: normal;
  margin-top: 1rem;
}
.container-fluid {
  background-color: #fff;
}
.table-responsive {
  width: unset !important;
}
table.table td {
  font-weight: normal;
  border-top: unset !important;
}
table.table th {
  border-top: unset !important;
  color: #9A9A9A;
  font-weight: normal;
}
.employees-top {
  @media only screen and (max-width: 600px) {
    .employees-top {
      padding-top: 50px;
    }
  }
}
.user-rel {
  position: relative;
}
.inline{
  position: absolute;
  display: inline-table;
  margin-left: 10px;
}
.intructor {
  margin-top: 0;
}
.modal-header {
  border: unset;
}
.russ {
  font-size: 22px;
  font-weight: 400;
}
.modal-body {
  padding-top: 0;
  padding-bottom: 0;
}
.text-center {
  padding-top: 20px;
  padding-bottom: 20px;
}
.modal-dialog.cvList {
  top: 25%;
  max-width: 300px;
  margin: auto;
}
.modal-dialog.cvList-title {
  top: 25%;
  max-width: 300px;
  margin: auto;
}
.modal-dialog.newCourse{
  margin: auto;
  top: 25%;
  max-width: 330px;
}
.modal-dialog.staffList{
  top: 25%;
  max-width: 350px;
  margin: auto;
}
.modal-title {
  font-size: 28px;
}
label {
  margin-bottom: 0;
}
.select-font {
  margin-bottom: 0;
}
.fa-camera{
  position: absolute;
  width: 32px;
  right: -11px;
  bottom: -5px;
}
.fa-camera:before {
  border-radius: 50%;
  content: "\f030";
  border: 1px solid #fff;
  width: 40px;
  background: #1E8EEB;
  padding: 7px;
  color: #fff;
  &:hover {
    background: #1d7aeb;
  }
}
.avatar{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 380px !important;
  height: 235px !important;
  background: #F7F7F7;
  border: 1px solid #F3EFEF;
}
.img-rel {
  position: relative;
}

//End - Confirm settings
[type="date"] {
  background: #fff url(../../../../../assets/img/calendar1.png) 97% 50% no-repeat;
}

[type="date"]::-webkit-inner-spin-button {
  display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
}

.date-field {
  width: 100%;
  color: #000000 !important;
  box-shadow: unset;
}
input {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  padding: 3px 5px;
}
table.table th, table.table td {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
.scrollbar-deep-purple::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-deep-purple::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-deep-purple::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #512da8; }

.scrollbar-cyan::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-cyan::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5; }

.scrollbar-cyan::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #c1c1c16b; }

.scrollbar-dusty-grass::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-dusty-grass::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-dusty-grass::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(330deg, #d4fc79 0%, #96e6a1 100%);
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%); }

.scrollbar-ripe-malinka::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-ripe-malinka::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-ripe-malinka::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(330deg, #f093fb 0%, #f5576c 100%);
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%); }

.bordered-deep-purple::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border: 1px solid #512da8; }

.bordered-deep-purple::-webkit-scrollbar-thumb {
  -webkit-box-shadow: none; }

.bordered-cyan::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border: 1px solid #1B75BC; }

.bordered-cyan::-webkit-scrollbar-thumb {
  -webkit-box-shadow: none; }

.square::-webkit-scrollbar-track {
  border-radius: 0 !important; }

.square::-webkit-scrollbar-thumb {
  border-radius: 0 !important; }

.thin::-webkit-scrollbar {
  width: 6px; }
.modal-bg-search{
  position:relative;
  background-color:#DCE1DF;
  padding:10px;
  label{
    position: absolute;
    right: 20px;
    top: 17px;
  }
}
.cv-list {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 180px;
}
.staff-list{
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;

  max-height: 250px;
  background-color: #ffffff;
}
.status-circle:before {
  content: unset !important;
}
.bottom-bars {
  background-color: silver;
}
.font-tu {
  font-weight: bold;
  padding: 10px 0 10px 0;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-style: normal;
}

.russ-font {
  padding-left: 10px;
  display: inline-block;
  margin: 0;
}
.russ-ti {
  margin: 0;
}

.rounded-circle {
  vertical-align:middle;
  min-width: 35px;
  min-height: 35px;
}
.middle {
  padding-top: 3px;
  border-bottom: 1px solid #c4c4c4;
  padding-bottom: 3px;
  margin-bottom: 5px;
}
.middle > * {
  vertical-align: middle;
}
.font-weight-bold {
  padding: 15px;
  color: #000000;
  font-weight: 500;
  font-size: 28px;
  text-align: center;
}
.modal-bg-header{
  background-color:#1B75BC;
  padding:10px;
  .title{
    font-size:16px;
  }
  .fa-times{
    position: absolute;
    right:10px;
    top:15px;
    &:hover{
      cursor:pointer;
    }
  }
}
.cvList-title, .newCourse-title{
  text-align: center;
}
.show-more-records{
  cursor: pointer;
  color: #3c5398;
  margin: 0 10px 0 0;
  height: 30px;
  width: 30px;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  &:hover{
    color: #5677da;
  }
}
.search{
  width: 100%;
  border:solid 1px #E9E0E0;
  border-radius:5px;
}
.fa-search {
  right: 1px;
  position: absolute;
  color: black;
  top: 1px;
}
.middle.staff-m{
  padding: 0px 3px 5px 5px;
  border-bottom: 1px solid #c4c4c4;
  margin-bottom: 5px;
}
.staff-font{
  position: relative;
  width: 150px;
  margin-left: 5px;
}
//Begin - Confirm settings
.modal-dialog.confirmDialog,.modal-dialog.categoryDialog, .modal-dialog.vendorDialog {
  top: 35% !important;
  max-width: 320px;
  margin: auto;
}
.modal-content.confirmDialog .close {
  position: unset !important;
  right: 0 !important;
}
.modal-title{
  font-size: 20px !important;
}
.btn-button {
  margin: auto;
  margin-bottom: 11px;
}
.modal-body.confirmDialog {
  font-weight: normal;
  padding: 0;
}
.diaglog-title-warning{
  padding-top: 9px !important;
  padding-bottom: unset !important;
  background-color: #ff7900;
  color: black;
  font-size: 18px;
  font-weight: bold;
}
.diaglog-title-policy{
  padding-top: 9px !important;
  padding-bottom: unset !important;
  background-color: #3bd1ff;
  color: black;
  font-size: 18px;
  font-weight: bold;
}
.diaglog-title-confirm{
  padding-top: 9px !important;
  padding-bottom: unset !important;
  background-color: $button-color;
  color: white;
  font-size: 18px;
  font-weight: bold;
}
//Begin - Confirm settings
.modal-dialog.confirmDialog,.modal-dialog.categoryDialog, .modal-dialog.vendorDialog {
  top: 35% !important;
  max-width: 320px;
  margin: auto;
}
.modal-content.confirmDialog .close {
  position: unset !important;
  right: 0 !important;
}
.modal-title{
  font-size: 20px !important;
}
.btn-button {
  margin: auto;
  margin-bottom: 11px;
}
.modal-body.confirmDialog {
  font-weight: normal;
  padding: 0;
}
.confirm {
  text-align: center;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 28px;
  color: #000000;
}
//End - Confirm settings
