<div class="employees-top">
    <div class="row pb-3 pt-3">
        <div class="col-sm-12 my-auto breadcrums-title">
          Course<a class="breadcrums mr-1" routerLink="../../user-list"> / User List</a>/ Messages
        </div>
    </div>
</div>
<div>
    <div class="container-fluid bg-chat pb-2">
            <div class="row pt-3 pb-2">
                <div class="col-sm-6">
                    <div class="media">
                        <img class="rounded-circle align-self-center mr-1" src="../../../../../assets/img/user-avatar.png" alt="">
                        <div class="media-body">
                            <p class="mt-0 russ-ti">Russ Tillman</p>
                            <p class="mb-0 russ-minutes">Wellington, NZ</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 text-right">
                    <p class="russ-ti">21 May 2018 10:50 am</p>
                    <i class="fas fa-edit mr-3"></i><i class="fas fa-trash"></i>
                </div>
            </div>
            <p>Technical analysis helps you to organize the overall market picture while it lays the path to rule based trading. Having a technical approach will be very important, specially during your first attempts to develop a personal trading style.</p>
            <img class="mx-auto d-block" src="../../../../../../assets/img/user-avatar.png" height="50px" alt="">
            <span><i class="fas fa-heart danger"></i></span><span class="pl-2">Like</span><span class="pl-2">10K</span><span><i class="fas fa-comment pl-5"></i></span><span class="pl-2">Reply</span>
    </div>
    <div class="container-fluid bg-fff pt-2 pb-2 mb-5">
        <table class="table">
            <tbody>
            <tr>
                <th width="2%" scope="row"><img class="rounded-circle" src="../../../../../assets/img/user-avatar.png" alt=""></th>
                <td width="98%">
                    <input class="form-control mt-0" placeholder="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.">
                </td>

            </tr>
            <tr>
                <td></td>
                <td><span><i class="fas fa-heart"></i></span><span class="pl-2">Like</span><span class="pl-2">10K</span><span><i class="fas fa-comment pl-5"></i></span><span class="pl-2">Reply</span></td>
            </tr>
            </tbody>
        </table>
        <table class="table">
            <tbody>
            <tr>
                <th width="2%" scope="row"></th>
                <td width="2%"><img class="rounded-circle" src="../../../../../assets/img/user-avatar.png" alt=""></td>
                <td width="94%">
                    <input class="form-control mt-0" placeholder="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.">
                </td>

            </tr>
            <tr>
                <th width="2%"></th>
                <td width="2%"></td>
                <td width="94%"><span><i class="fas fa-heart"></i></span><span class="pl-2">Like</span><span class="pl-2">10K</span><span><i class="fas fa-comment pl-5"></i></span><span class="pl-2">Reply</span></td>
            </tr>
            </tbody>
        </table>
        <table class="table">
            <tbody>
            <tr>
                <th width="2%" scope="row"></th>
                <td width="2%"><img class="rounded-circle" src="../../../../../assets/img/user-avatar.png" alt=""></td>
                <td width="94%">
                    <input class="form-control mt-0" placeholder="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.">
                </td>

            </tr>
            <tr>
                <th width="2%"></th>
                <td width="2%"></td>
                <td width="94%"><span><i class="fas fa-heart"></i></span><span class="pl-2">Like</span><span class="pl-2">10K</span><span><i class="fas fa-comment pl-5"></i></span><span class="pl-2">Reply</span></td>
            </tr>
            </tbody>
        </table>
        <table class="table">
            <tbody>
            <tr>
                <th width="2%" scope="row"></th>
                <td width="2%"><img class="rounded-circle" src="../../../../../assets/img/user-avatar.png" alt=""></td>
                <td width="94%">
                    <input class="form-control mt-0" placeholder="Write.....">
                </td>

            </tr>
            <tr>
                <th width="2%"></th>
                <td width="2%"></td>
                <td width="94%"><span><i class="fas fa-heart"></i></span><span class="pl-2">Like</span><span class="pl-2">10K</span><span><i class="fas fa-comment pl-5"></i></span><span class="pl-2">Reply</span></td>
            </tr>
            </tbody>
        </table>
        <table class="table">
            <tbody>
            <tr>
                <th width="2%" scope="row"><img class="rounded-circle" src="../../../../../assets/img/user-avatar.png" alt=""></th>
                <td width="98%">
                    <div class="icon-posi">
                        <input class="form-control mt-0" placeholder="Write.....">
                        <span class="pe-7s-smile"></span><span class="pe-7s-paperclip"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td width="2%"></td>
                <td width="98%"><span><i class="fas fa-heart"></i></span><span class="pl-2">Like</span><span class="pl-2">10K</span><span><i class="fas fa-comment pl-5"></i></span><span class="pl-2">Reply</span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
